:root {
    --width: 100vw;
    --full-width: 100vw;
    
    @media (min-width: 42em) {
      --width: 42rem;
    }
    
    --angle: -11deg;
    --magic-number: 0.09719;
    --skew-padding: calc(var(--width) * var(--magic-number));
    --clip-padding: calc(var(--full-width) * var(--magic-number));
  }
  
  .diagonal-box {
    position: relative;
    padding: var(--skew-padding) 0;
    margin-top: -1px;
    
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: skewy(var(--angle));
      transform-origin: 50% 0;
      outline: 1px solid transparent;
      backface-visibility: hidden;
    }
  }
  
  .bg-one:before {
    background-image: linear-gradient(45deg, #E7D37F, #FD9B63);
  }
  
  .bg-two:before {
    background-image: linear-gradient(-135deg, #E7D37F, #81A263);
  }
  
  .bg-three:before {
    background-image: linear-gradient(-135deg, #365E32, #FD9B63);
  }
  
  .content {
    margin: 0 auto;
    padding: 4.5em 0 4.5em 0;
    position: relative;
    max-width: 60%;
  }
  .clip-path {
    position: relative;
    margin-top: calc( ( var(--clip-padding) * -1 ) - 2px );
    background-image: 
      linear-gradient(-135deg, #E7D37F, #E7D37F);
    background-size: .5em .5em, 100% 100%;
    padding: calc( ( var(--clip-padding) * 2 ) - ( var(--clip-padding) - var(--skew-padding) ) ) 0 4em;
    clip-path: polygon(
      0% calc(var(--clip-padding) * 2), 
      100% 0%, 
      100% 100%, 
      0% 100% );
    -webkit-clip-path: polygon(
      0% calc(var(--clip-padding) * 2), 
      100% 0%, 
      100% 100%, 
      0% 100% );
  }
  .background{
    background-image: 
    linear-gradient(-135deg, #f3ecce, #E7D37F);
  }
  .my2-card{
    border: none;
    background: none;
  }

  .circle-image {
    border-radius: 50% 50%;
    width: 40px;
  }
  .img {
    position: relative;
    right: 30%;
  }
  .social-icons{
    color: rgb(255, 128, 0);
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 150px; /* İkonlar arasındaki boşluk */
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-container i {
    font-size: 48px; /* İkonların boyutları */
  }
  
  .icon-label {
    margin-top: 8px; /* Yazı ile ikon arasındaki boşluk */
    font-size: 16px; /* Yazı boyutu */
  }
  @media (max-width: 42em) {
    .social-icons {
      gap: 80px; /* İkonlar arasındaki boşluk */
    }
    .content{
      max-width: 100%;
    }
    .rounded-borders{
      display:none;
    }
    .icon-container{
      width: 40px;
    }
  }
  .my-card{
    background-color: rgb(241, 200, 124);
    border:none;
  }